<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://s3.eu-central-1.amazonaws.com/pult.ecommerce.kz/templates/external-forms/img/favicon.ico" type="image/x-icon">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kassa24 Онлайн-платежи DEMO</title>
    <link rel="stylesheet" href="https://s3.eu-central-1.amazonaws.com/pult.ecommerce.kz/templates/external-forms/styles/font-awesome.min.css">
    <link rel="stylesheet" href="https://s3.eu-central-1.amazonaws.com/pult.ecommerce.kz/templates/external-forms/styles/styles.css">
</head>
<script>
    function setAmount() {
        var inputs = document.getElementById('k24p-paymentForm').getElementsByTagName('input');
        for (var index in inputs){
            var elem = inputs[index];
            if(elem.localName==="input"){
                elem.value = '';
            }
        }

        var currency = "{{ price }}";

        document.getElementById('payment-amount').value= currency;
        document.getElementById('payment-btn-amount').textContent = currency;
    }
</script>
<body onload="setAmount()">

<form class="payment-form" id="k24p-paymentForm">

    <div class="payment-amount">
        <div class="card-row">
            <input id="payment-amount" class="card-input input_filled" maxlength="11" disabled>
            <label class="card-label">Сумма оплаты</label>
        </div>
        <span class="payment-amount__type">₸</span>
    </div>

    <div class="card-form">
        <div class="card-type">
            <img src="https://s3.eu-central-1.amazonaws.com/pult.ecommerce.kz/templates/external-forms/img/visa.svg" alt="visa">
            <img src="https://s3.eu-central-1.amazonaws.com/pult.ecommerce.kz/templates/external-forms/img/mastercard.svg" alt="mastercard">
        </div>
        <div class="card-row">
            <input id="card-pan" class="card-input" type="tel" autofocus autocomplete="cc-number" inputmode="numeric" maxlength="19" data-cp="pan">
            <label class="card-label">Номер карты</label>
        </div>
        <div class="card-row">
            <input id="card-cardholder" class="card-input" type="text" autocomplete="cc-name" data-cp="cardholder">
            <label class="card-label">Владелец карты</label>
        </div>
        <div class="card-section">
            <div class="card-section__data ">
                <input id="card-validity" class="card-input" type="tel" inputmode="numeric" autocomplete="cc-exp" maxlength="5" data-cp="validity">
                <label class="card-label">MM/ГГ</label>
            </div>
            <div class="card-section__cvv">
                <div class="cvv-input">
                    <input id="card-cvv" class="card-input" type="password" autocomplete="cc-csc" inputmode="numeric" maxlength="3" data-cp="cvv">
                    <label class="card-label">CVV</label>
                </div>
                <div class="cvv-info">
                    <img src="https://s3.eu-central-1.amazonaws.com/pult.ecommerce.kz/templates/external-forms/img/info.svg" alt="info">
                    <div class="cvv-popup">
                        <span>Три цифры на обратной стороне карты</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="secure-info">
        <img src="https://s3.eu-central-1.amazonaws.com/pult.ecommerce.kz/templates/external-forms/img/psi-dss.svg" alt="psi-dss">
        <span>Безопасная передача банковских данных</span>
    </div>
    <button class="payment-btn" type="submit">
        Оплатить <span id="payment-btn-amount">0,00</span> ₸
    </button>
</form>

<form id="data-form" action="{% url 'lk' %}" method="post">
    <input name="type" type="hidden" id="data-amount">
    <input name="cardData" type="hidden" id="data-card">
</form>

<script src="https://s3.eu-central-1.amazonaws.com/pult.ecommerce.kz/templates/external-forms/js/mask.js"></script>
<script src="https://s3.eu-central-1.amazonaws.com/pult.ecommerce.kz/templates/external-forms/cryptogram/crypt.js"></script>
<script>

    var form = document.getElementById("k24p-paymentForm");

    // Маска
    form.addEventListener('input', function(e) {
        validate(e);
    });

    // Обработчик события в форме
    form.addEventListener('submit', function(e) {
        e.preventDefault(e);

        var result = createCryptogram(); // createCryptogram(true) - для шифрования только номера карты(cashOut)
        result.then(function (result) {
            if(result.success){
                // result:{success: Boolean, cardData: String}
                // обработка успешного результата шифрования

                document.getElementById("data-card").value = result.cardData;
                document.getElementById("data-form").submit();
                // необходимо прописать action URL форме "data-form"
            } else {
                // result:{success: Boolean, errors: Object{error: String}}
                // обработка ошибок шифрования и предварительной валидации
                if(result.errors.message){
                    alert(result.errors.message)
                } else {
                    for(var error in result.errors){
                        document.getElementById("card-"+error).classList.add("card-error")
                    }
                }
            }
        })

    });

</script>
</body>
</html>